footer {
    align-items: center;
    border-top: #f00 50px solid;
    display: flex;
    justify-content: space-evenly;
    padding: 2rem 0;
    position: relative;
    bottom: 0;
    width:100vw;
    height: 40px;
    margin-top: 2rem;
}

.dh{
    display: flex;
}

.dh > img{
    width: 200px;
    margin: 0;
}

.dh > p{
    margin: 0;
    padding-top: 0.7rem;
}

.redes{
    display: flex;
    list-style: none;
}

.redes li{
    padding: 0 12px;
}

.redes img{
    filter: invert(1);
    width: 27px;
}